* {
  margin: 0;
  padding: 0;
}

body{
    font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1{
    color: #ae8e32;
    font-weight: 700;
    font-size: 33px;
}

.logo img{
    height: 100px;
}

.content{
    margin-top: 20px;
    text-align: center;
}

.content h1{
    color: #c9ae66;
    font-size: 33px;
    font-weight: 600;
}

.attendance{
    margin-top: 40px;
}

.date{
    text-align: left;
    display: flex;
    padding: 10px 0 0;
}

.date p{
    margin-left: 40px;
    font-weight: 600;
    /* font-size: 17px; */
    margin-bottom: 10px;
}

.date p:nth-child(1) span{
    color: red;
}

.date p:nth-child(2) span{
    color: green;
}